@page
@model AzureApp.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

@*<h1 className="titleHome">Hello, world!</h1>
<p>
    @Model.Message
</p>*@

@*<div class="container content">*@
<div>
    <div class="row align-items-center content justify-content-center">
        <div class="col-md-10 text-left">
            <div class="mb-5">
                <h2> Category </h2>
                <button class="btn mb-3 mr-3 btn-primary">Sport</button>
                <button class="btn mb-3 mr-3 btn-secondary">Health</button>
                <button class="btn mb-3 mr-3 btn-success">Culture</button>
                <button class="btn mb-3 mr-3 btn-info">Music</button>
                <button class="btn mb-3 mr-3 btn-warning">Self-Care</button>
                <button class="btn mb-3 mr-3 btn-danger">...</button>
                <button class="btn mb-3 mr-3 btn-dark">...</button>
            </div>
        </div>
    </div>
    <br />
    <h2> Popular </h2>
    <br />

    <div class="row">
        <div class="col-md-3 mr-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/default_challenge.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Default Challenge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/reading_challenge.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reading Challenge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/health_challenge.png" class="card-img-top" style="height:170px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Health Challenge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/default_challenge.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Default Challenge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mr-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/default_challenge.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Default Challenge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>